{% extends "base.html" %}
{% block body%}
<div class="container">
	{% block nav%}
	{{super()}}
	{% endblock%}
	<h1 id="BlogTitle" class="col-sm-12">Blues Blog<br><small>For the Fuking Funny learing!</small></h1>

	{% block flash%} {{super()}} {% endblock %}

	</br></br>

	<div class="row" >
		<div class="col-xs-12 col-sm-8 Content">
			{%for blog in blogs%}
				<div class='blogBox'>
					<h2>{{blog.title}} <br><small>{{blog.time}}</small></h2>
					{%for tag in blog.tags%}
					<a href={{url_for('tagSearch',tag_name=tag.tag_name)}}> <span class="glyphicon glyphicon-align-left" aria-hidden="true"></span> {{tag.tag_name}}</a>
					{%endfor%}
					<hr>
					<p class="content">{{blog.content|safe}}</p>
					<a class="btn btn-primary btn-sm" href="{{url_for('readBlog',blog_id=blog.id)}}">More</a>
					<em>{{blog.helpful}}</em><a href="{{url_for('helpfulCountUp',blog_id=blog.id)}}">UpVote</a>
				</div>
			{%endfor%}
			<div class="blogBox">
				<nav>
				<ul class="pagination">
					{%if pages > 1%}
					<li>
					<a href="{{url_for('listBlog',pages=pages-1)}}">前一页</a>
					</li>
					{%endif%}
						{%for p in range(sumPages)%}
						{%if p+1 == pages%}
						<li class="active">
						{%else%}
						<li>
						{%endif%}
						<a href="{{url_for('listBlog',pages=p+1)}}">{{p+1}}</a>
						</li>
						{%endfor%}
					{%if pages < sumPages%}
					<li>
					<a href="{{url_for('listBlog',pages=pages+1)}}">下一页</a>
					</li>
					{%endif%}
				</ul>
				</nav>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-sm-offset-1 Margin">
			<nav id="sidebar">
			<h2>Tags</h2>
				<ol class="list-unstyled">
					<li>
					<a href="{{url_for('newBlog')}}">New Blog</a>
					</li>
					{% for (tag,count) in tags %}
					<li>
					<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
					<a href="{{url_for('tagSearch',tag_name=tag.tag_name)}}">{{tag.tag_name}}   <span class="badge">{{count}}</span></a>
					</li>
					{% endfor %}
				</ol>
			</nav>
		</div>
	</div>

</div>
{% endblock%}

