{% extends "base.html" %}
{% block body%}
<div class="container">
	{% block nav%}
	{{super()}}
	{% endblock%}
	<h1 id="BlogTitle" class="col-sm-12">Blues Blog<br><small>For the Fuking Funny learing!</small></h1>

	{% block flash%} {{super()}} {% endblock %}

	</br></br>

	<div class="row" >
		<div class="col-xs-12 col-sm-8 Content">
			{%for blog in blogs%}
				<div class='blogBox'>
					<h2>{{blog.title}} <br><small>{{blog.time}}</small></h2>
					<ul id="tags">
					{%for tag in blog.tags%}
					<li><a href={{url_for('tagSearch',tag_name=tag.tag_name)}}>{{tag.tag_name}}</a></li>
					{%endfor%}
					</ul>
					<hr>
					<p class="content">{{blog.content|safe}}</p>
					<a class="btn btn-primary btn-sm" href="{{url_for('readBlog',blog_id=blog.id)}}">More</a>
					<em>{{blog.helpful}}</em><a href="{{url_for('helpfulCountUp',blog_id=blog.id)}}">UpVote</a>
				</div>
			{%endfor%}
			<div class="blogBox">
				<div class="btn-toolbar" role="toolbar">
					{%if pages > 1%}
					<a class="btn btn-primary btn-sm" href="{{url_for('listBlog',pages=pages-1)}}">Previous</a>
					{%endif%}
					<div class="btn-group" role="group">
					{%for p in range(sumPages)%}
						<a class="btn btn-default btn-sm" href="{{url_for('listBlog',pages=p+1)}}">{{p+1}}</a>
					{%endfor%}
					</div>
					{%if pages < sumPages%}
					<a class="btn btn-primary btn-sm" href="{{url_for('listBlog',pages=pages+1)}}">Next</a>
					{%endif%}
					<div class="btn-group" role="group"> </div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-sm-offset-1 Margin">
			<nav id="sidebar">
			<h2>Tags</h2>
				<ol class="list-unstyled">
					<li>
					<a href="{{url_for('newBlog')}}">New Blog</a>
					</li>
					{% for (tag,count) in tags %}
					<li><a href="{{url_for('tagSearch',tag_name=tag.tag_name)}}">{{tag.tag_name}}</a>{{count}}</li>
					{% endfor %}
				</ol>
			</nav>
		</div>
	</div>

</div>
{% endblock%}

