{% extends "base.html" %}
{% block body%}
<div class="container">
	{% block nav%}
	{{super()}}
	{% endblock%}
	<h1 id="BlogTitle" class="col-sm-12">Blues Blog<br><small>For the Fuking Funny learing!</small></h1>

	{% block flash%} {{super()}} {% endblock %}

	</br></br>

	<div class="row" >
		<div class="col-xs-12 col-sm-8 Content">
			{%for blog in blogs%}
				<div class='blogBox'>
					<h2>{{blog.title}} <br><small>{{blog.time}}</small></h2>
					<hr>
					<p class="content">{{blog.content|safe}}</p>
					<a class="btn btn-primary btn-sm" href="{{url_for('readBlog',blog_id=blog.id)}}">More</a>
				</div>
			{%endfor%}
			<div class="blogBox">
				<div class="btn-toolbar" role="toolbar">
					<a class="btn btn-primary btn-sm" href="#">Previous</a>
					<div class="btn-group" role="group">
						<a class="btn btn-default btn-sm" href="#">1</a>
						<a class="btn btn-default btn-sm" href="#">2</a>
					</div>
					<a class="btn btn-primary btn-sm" href="#">Next</a>
					<div class="btn-group" role="group"> </div>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-3 col-sm-offset-1 Margin">
			<nav id="sidebar">
			<h2>Time</h2>
				<ol class="list-unstyled">
					<li>
					<a href="{{url_for('newBlog')}}">New Blog</a>
					</li>
					<li>
					<a href="#">April</a>
					</li>
					<li>
					<a href="#">March</a>
					</li>
					<li>
					<a href="#">July</a>
					</li>
				</ol>
			</nav>
		</div>
	</div>

</div>
{% endblock%}

