{% extends "base.html" %}
{% block body %}
<div class="container">
	{% block nav%}
	{{super()}}
	{% endblock%}

	<div class="blogBox">
	<h1>{{blog.title}}<br><small>{{blog.time}}</small></h1>
	<ul id="tags">
		{%for tag in blog.tags%}
		<li><a href={{url_for('tagSearch',tag_name=tag.tag_name)}}>{{tag.tag_name}}</a></li>
		{%endfor%}
	</ul>
	

	{% block flash%}
	{{super()}}
	{% endblock %}

	<hr>
	<p class="fontSize">{{blog.content|safe}}</p>
	<a href="{{url_for('editBlog',blog_id=blog.id)}}">Edit</a>
	<br>
	<a href="{{url_for('deleteBlog',blog_id=blog.id)}}">Delete</a>
	<br>
	<a href="{{url_for('listBlog')}}">Back to Table</a>
	</div>
	<div class="blogBox">
		<div class="btn-toolbar" role="toolbar">
			<a class="btn btn-primary btn-sm" href="{{url_for('readBlog',blog_id=pBlog.id)}}">{{pBlog.title}}</a>
			<a class="btn btn-primary btn-sm" href="{{url_for('listBlog')}}">Back To Table</a>
			<a class="btn btn-primary btn-sm" href="{{url_for('readBlog',blog_id=nBlog.id)}}">{{nBlog.title}}</a>
			<div class="btn-group" role="group"> </div>
		</div>
	</div>

</div>
{% endblock %}
